@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  font-family: 'BCSans', 'Noto Sans', sans-serif;
}

body {
  overflow: hidden;
  color: white;
  background-color: #111827; /* Tailwind's bg-gray-900 equivalent */
}

body.avara-style {
  background-color: #000000;
  text-shadow: 0 0 3px currentColor;
  transition: background-color 1s linear, text-shadow 0.5s linear;
}

.cell-animation {
  animation: revealCharCell linear;
  animation-duration: 0.2s;
}

.back-animation {
  animation: deleteCharCell linear;
  animation-duration: 0.2s;
}

.canvas {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.canvas.fade-in {
  opacity: 1;
}

@keyframes scroll-x {
  0% {
    transform: translateX(-15vw);
  }
  100% {
    transform: translateX(200vw);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(25px);
  }
}

.animate-scroll {
  animation: scroll-x linear infinite;
}

.animate-hover {
  animation: up-down alternate ease-in-out infinite;
}

@keyframes revealCharCell {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes deleteCharCell {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
